@media(max-width: 768px){
   
	.menu-icon{
       
        display: block;
		
		
    }
	
	.menu{
		display: none;
		
	
	
    }
	.menu ul{
		display:block;
		background:rgb(92, 91, 91);
		position:absolute;
		top:30px;
		left:60%;
		
		
	}
	.menu ul li{
		padding: 10px 25px;
	}
	

		
   
}
